@use "./colors.scss" as colors;
@use "./base.scss" as base;

#app {
    max-width: 1280px;
    margin: 0 auto;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: colors.$primary-color;
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: colors.$link-highlight-color;
    }
}
