@use "./colors.scss" as colors;
@use "./base.scss" as base;
@import "~bootstrap/scss/bootstrap";

#app {
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: colors.$primary-color;
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: colors.$link-highlight-color;
    }
}
